body {
    font-family: Tahoma, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    background-color: beige;
    color: chocolate;
}

a {
    color: black;  /* Default link color */
}

a:visited {
    color: black;  /* Make visited links the same color as unvisited */
}

a:hover {
    color: darkblue;  /* Optional: Change color on hover */
}

a:active {
    color: red;  /* Optional: Color when the link is clicked */
}